.hello{
color:red;
font-size:3cm;}
.intro{
color:orange;
font-size:1cm;}
.body{
color:purple;}
.who{
color:blue;}
.conclusion{
color:blue;
font-size:2cm;}
.gone{
color:green;
font-size:3cm;}
.whole{
margin-left:12cm;
margin-top:2cm;}
body{
background-image: linear-gradient(to right top, #dec0d7, #dda5c6, #de88af, #de6992, #da4771)

;}
img{
height:2cm;
width:5cm;}
.st{
height:2cm;
width:28.4cm;
background-color:black;
display:flex;}
.one{
margin-left:1cm;
color:white;
margin-top:.5cm;
font-size:1cm;}